<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vaksinapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fontFamily="sans-serif-condensed-light"
        android:icon="@drawable/keluargasehat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaksinApplication">
        <activity android:name=".ReadActivity"/>
        <activity android:name=".DetailActivity" />
        <activity android:name=".CreateActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.VaksinApplication.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.VaksinApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.VaksinApplication.NoActionBar" />
    </application>

</manifest>